body{
	background-color: blue;
	color: white;
}
header{
	position:relative;
}
header h1{
	font-family:Stencil Std, fantasy;
	text-align: center;
	color: black;
	font-size: 4em;

}
header h3{
	text-align: center;
	color: black;
	font-family:OCR A Std, monospace;
	font-size: 2em;
	border: yellow dashed 4px;
	width:370px;
	position: absolute;
	top: 300px;
	left: 300px;
	height: 5em;
}

section p{
	font-size: 2em;
	text-align:center;
}
section p strong{
	font-family:sans-serif;
}